$calc_operation: #d97e85;
$calc_special: #5bd9c2;
$calc_gray: #c1c1c1;

$calc_btn_background: #f2d1d1;
$calc_background: #ffe6e6;
$calc_number: #22252d;
$calc_toggle_color: #22252d;

$calc_dark_btn_background: #2a2d37;
$calc_dark_background: #22252d;
$calc_dark_number: #ffff;
$calc_dark_toggle_color: #ffff;
