.btn {
  height: 105px;
  border: none;
  background-color: #F8F8FF;
  border-radius: 30px;
}

.operation {
  color: #FF4500;
}

.number {
  color: #1C1C1C;
}

.btn-AC, .btn-C, .btn-bracket {
    color: #32CD32;
}

.buttons-container {
  display: grid;
  grid-template-columns: 300px 100px;
  gap: 5px;
}

.buttons-container .buttons-number {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.buttons-container .buttons-operation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
