.btn {
  height: 90px;
  border: none;
  background-color: $calc_background;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 600;
}

.operation {
  color: $calc_operation;
}

.number {
  color: $calc_number;
}

.btn-AC,
.btn-C,
.btn-bracket {
  color: $calc_special;
}
